In [57]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings("ignore")

### 한글 폰트 설정
import matplotlib
from matplotlib import font_manager, rc
import matplotlib.pyplot as plt
import platform

path = "C:/Windows/Fonts/malgun.ttf"
if platform.system() == "Windows":
    font_name = font_manager.FontProperties(fname=path).get_name()
    rc('font', family=font_name)
elif platform.system()=="Darwin":
    rc('font', family='AppleGothic')
else:
    print("Unknown System")
    
matplotlib.rcParams['axes.unicode_minus'] = False

%matplotlib inline

In [58]:
train = pd.read_csv('../../../data/Parking_Demand/train.csv')
test = pd.read_csv('../../../data/Parking_Demand/test.csv')
age = pd.read_csv('../../../data/Parking_Demand/age_gender_info.csv')
sub = pd.read_csv('../../../data/Parking_Demand/sample_submission.csv')

train.shape, test.shape, age.shape, sub.shape

((2952, 15), (1022, 14), (16, 23), (150, 2))

In [59]:
train.columns

Index(['단지코드', '총세대수', '임대건물구분', '지역', '공급유형', '전용면적', '전용면적별세대수', '공가수',
       '자격유형', '임대보증금', '임대료', '도보 10분거리 내 지하철역 수(환승노선 수 반영)',
       '도보 10분거리 내 버스정류장 수', '단지내주차면수', '등록차량수'],
      dtype='object')

In [60]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2952 entries, 0 to 2951
Data columns (total 15 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   단지코드                          2952 non-null   object
 1   총세대수                          2952 non-null   int64
 2   임대건물구분                        2952 non-null   object
 3   지역                            2952 non-null   object
 4   공급유형                          2952 non-null   object
 5   전용면적                          2952 non-null   float64
 6   전용면적별세대수                      2952 non-null   int64
 7   공가수                           2952 non-null   float64
 8   자격유형                          2952 non-null   object
 9   임대보증금                         2383 non-null   object
 10  임대료                           2383 non-null   object
 11  도보 10분거리 내 지하철역 수(환승노선 수 반영)  2741 non-null   float64
 12  도보 10분거리 내 버스정류장 수            2948 non-null   float64
 13  단지내주차면수                       2952 non-null   float64
 14  등록차량수                         2952 non-null   float64
dtypes: float64(6), int64(2), object(7)
memory usage: 346.1+ KB

In [61]:
train.head()

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수,등록차량수
0,C2483,900,아파트,경상북도,국민임대,39.72,134,38.0,A,15667000,103680,0.0,3.0,1425.0,1015.0
1,C2483,900,아파트,경상북도,국민임대,39.72,15,38.0,A,15667000,103680,0.0,3.0,1425.0,1015.0
2,C2483,900,아파트,경상북도,국민임대,51.93,385,38.0,A,27304000,184330,0.0,3.0,1425.0,1015.0
3,C2483,900,아파트,경상북도,국민임대,51.93,15,38.0,A,27304000,184330,0.0,3.0,1425.0,1015.0
4,C2483,900,아파트,경상북도,국민임대,51.93,41,38.0,A,27304000,184330,0.0,3.0,1425.0,1015.0

In [62]:
train.corr()

,총세대수,전용면적,전용면적별세대수,공가수,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수,등록차량수
총세대수,1.000000,0.042271,0.098205,0.068192,0.213843,-0.001446,0.501488,0.316703
전용면적,0.042271,1.000000,-0.035479,-0.089201,-0.013111,-0.007866,0.071260,0.115453
전용면적별세대수,0.098205,-0.035479,1.000000,0.166472,-0.056680,0.047112,0.281989,0.247085
공가수,0.068192,-0.089201,0.166472,1.000000,-0.093334,0.043285,0.289819,0.118121
도보 10분거리 내 지하철역 수(환승노선 수 반영),0.213843,-0.013111,-0.056680,-0.093334,1.000000,0.098380,-0.055544,-0.108592
도보 10분거리 내 버스정류장 수,-0.001446,-0.007866,0.047112,0.043285,0.098380,1.000000,0.070696,0.103752
단지내주차면수,0.501488,0.071260,0.281989,0.289819,-0.055544,0.070696,1.000000,0.859216
등록차량수,0.316703,0.115453,0.247085,0.118121,-0.108592,0.103752,0.859216,1.000000

In [63]:
train.columns, test.columns

(Index(['단지코드', '총세대수', '임대건물구분', '지역', '공급유형', '전용면적', '전용면적별세대수', '공가수',
        '자격유형', '임대보증금', '임대료', '도보 10분거리 내 지하철역 수(환승노선 수 반영)',
        '도보 10분거리 내 버스정류장 수', '단지내주차면수', '등록차량수'],
       dtype='object'),
 Index(['단지코드', '총세대수', '임대건물구분', '지역', '공급유형', '전용면적', '전용면적별세대수', '공가수',
        '자격유형', '임대보증금', '임대료', '도보 10분거리 내 지하철역 수(환승노선 수 반영)',
        '도보 10분거리 내 버스정류장 수', '단지내주차면수'],
       dtype='object'))

In [64]:
train.isna().sum()

단지코드                              0
총세대수                              0
임대건물구분                            0
지역                                0
공급유형                              0
전용면적                              0
전용면적별세대수                          0
공가수                               0
자격유형                              0
임대보증금                           569
임대료                             569
도보 10분거리 내 지하철역 수(환승노선 수 반영)    211
도보 10분거리 내 버스정류장 수                4
단지내주차면수                           0
등록차량수                             0
dtype: int64

In [65]:
### 자격유형 isnull 확인
test.loc[test['자격유형'].isnull()]

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수
196,C2411,962,아파트,경상남도,국민임대,46.90,240,25.0,NaN,71950000,37470,0.0,2.0,840.0
258,C2253,1161,아파트,강원도,영구임대,26.37,745,0.0,NaN,2249000,44770,0.0,2.0,173.0

In [66]:
grouped = test.groupby(['단지코드','임대건물구분','지역','공급유형'])
group1 = grouped.get_group(('C2411', '아파트', '경상남도', '국민임대'))
group1

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수
193,C2411,962,아파트,경상남도,국민임대,39.43,56,25.0,A,11992000,100720,0.0,2.0,840.0
194,C2411,962,아파트,경상남도,국민임대,39.72,336,25.0,A,11992000,100720,0.0,2.0,840.0
195,C2411,962,아파트,경상남도,국민임대,39.82,179,25.0,A,11992000,100720,0.0,2.0,840.0
196,C2411,962,아파트,경상남도,국민임대,46.90,240,25.0,NaN,71950000,37470,0.0,2.0,840.0
197,C2411,962,아파트,경상남도,국민임대,51.93,150,25.0,A,21586000,171480,0.0,2.0,840.0

In [67]:
test.loc[196, '자격유형'] = 'A'

In [68]:
group2 = grouped.get_group(('C2253', '아파트', '강원도', '영구임대'))
group2

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수
258,C2253,1161,아파트,강원도,영구임대,26.37,745,0.0,NaN,2249000,44770,0.0,2.0,173.0
259,C2253,1161,아파트,강원도,영구임대,31.32,239,0.0,C,3731000,83020,0.0,2.0,173.0
260,C2253,1161,아파트,강원도,영구임대,31.32,149,0.0,C,3731000,83020,0.0,2.0,173.0

In [69]:
test.loc[258,'자격유형'] = 'C'

In [70]:
### 라벨인코딩
mapping = {'A':1, 'B':2, 'C':3, 'D':4, 'E':5, 
           'F':6, 'G':7, 'H':8, 'I':9, 'J':10, 
           'K':11, 'L':12, 'M':13, 'N':14, 'O':15}
train['자격유형'] = train['자격유형'].map(mapping).astype(int)
test['자격유형'] = test['자격유형'].map(mapping).astype(int)

In [71]:
# 7-2 주차 수요 예측 LinearRegression 모델 적용해보기
from sklearn.linear_model import LinearRegression

sel= ['총세대수', '전용면적', '전용면적별세대수', '공가수',
      '단지내주차면수', '자격유형']
X = train[sel]
y = train['등록차량수']

In [72]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 0)

In [84]:
model = LinearRegression()
model.fit(X_train, y_train) # 학습
pred = model.predict(X_test)
pred

array([ 8.45880638e+02,  1.09880932e+03,  6.41446509e+02,  8.13166109e+02,
        7.38298306e+02,  1.10625671e+02,  1.16481230e+02,  1.08312938e+02,
        5.09390585e+02,  6.10643611e+02,  1.24511677e+02,  7.27578754e+02,
        8.75912517e+02,  9.99273631e+02,  5.81636506e+02,  2.38329360e+02,
        1.27049915e+03,  7.70441600e+02,  1.64411432e+02,  6.26767424e+02,
        1.70754742e+02,  5.28743480e+02,  6.29218159e+02,  5.56105932e+02,
        8.60534363e+01,  5.38192707e+02,  8.13693644e+02,  1.25090526e+03,
        4.66922726e+02,  6.39952876e+02,  6.99345338e+02,  1.27848162e+03,
        7.75959799e+02,  4.03842971e+02,  1.76805483e+02,  5.75895181e+02,
        8.14573195e+02,  5.72852254e+02,  7.34169592e+02,  1.51203228e+03,
        3.30451632e+02,  3.72657349e+02,  2.69353309e+02,  9.90277603e+02,
        3.24665836e+02,  8.19521926e+02,  1.22564713e+03,  4.01992849e+02,
        6.87404670e+02,  4.77255845e+02,  4.89845613e+02,  5.38599771e+02,
        4.57510890e+02,  5.60594310e+02,  5.09147452e+02,  7.76279402e+02,
        4.60617235e+02,  1.06006538e+02,  7.34097874e+02,  6.78083732e+02,
        1.51263377e+03,  5.53404235e+01,  3.50924519e+02,  4.52021507e+02,
        4.51717451e+02,  6.59036854e+02,  8.15852769e+02,  2.72768566e+02,
        8.38150789e+02,  3.85942504e+02,  3.56661888e+02,  3.45907900e+02,
        7.39193768e+02,  2.95293535e+02,  2.41082484e+02,  2.13215337e+02,
        1.09576875e+02,  1.76635399e+02,  1.96556708e+02,  2.46846660e+02,
        3.09138576e+01, -8.17588238e+00,  8.72814761e+02,  1.66857411e+03,
        7.19985420e+02,  3.99977344e+02,  4.88476388e+02,  4.62265231e+02,
        5.93560220e+02,  6.12699797e+02, -2.44582386e+01,  1.37980407e+02,
        1.26509414e+02,  7.05540553e+02,  8.31086598e+02,  1.66357557e+02,
        1.66889333e+03,  2.99322567e+02,  6.85124524e+02,  2.13671677e+02,
        9.23465359e+02,  2.60456671e+02,  1.53291081e+03,  5.49180883e+02,
        3.90236500e+02,  4.17911998e+02,  1.16408132e+03,  6.16231018e+02,
        2.77350835e+02,  5.84398491e+02,  1.36634023e+02,  8.04599992e+02,
        7.58366433e+02,  9.19027311e+02,  8.88952546e+01,  4.15663510e+02,
        3.15868165e+02,  3.95901998e+02,  1.08312938e+02,  7.53388118e+01,
        5.80489266e+02,  8.76817894e+02,  1.72672825e+02,  2.06657563e+02,
        1.25965023e+03,  6.22072236e+02,  8.39719884e+02,  1.16219458e+02,
        1.86096466e+02,  5.83767316e+02,  9.64685099e+02,  4.57538446e+02,
        7.09063587e+02,  1.09590695e+03,  6.04935424e+02,  3.65536082e+02,
        7.60347253e+02,  1.20495369e+03,  1.00027646e+03,  1.68310581e+02,
        1.51270511e+03,  2.35741926e+02,  7.54792557e+02,  4.61508935e+02,
        2.48973965e+02,  1.25090526e+03,  8.74707208e+02,  2.76579922e+02,
        2.63781185e+02,  1.13147872e+03,  6.72237007e+01,  1.99418305e+02,
        1.43519143e+03,  1.16219458e+02,  2.62780284e+02,  9.49519136e+02,
        1.11731066e+03,  6.55207857e+02,  1.14046092e+03,  8.08823101e+02,
       -8.17588238e+00,  1.54265170e+02,  7.55458470e+02,  4.51487647e+02,
        5.47151125e+02,  4.10978757e+02,  3.46496773e+02,  8.39068065e+02,
        6.84822335e+02,  4.40787661e+02,  3.01944277e+02,  1.16893615e+03,
        6.37517188e+02,  1.10625671e+02,  4.62035056e+02,  7.37047233e+02,
        5.24102731e+02,  1.58853105e+02,  6.74654207e+02,  1.11191751e+03,
        9.17204567e+01,  9.41796531e+02,  6.32438444e+02,  6.60346895e+02,
        8.37002363e+02,  3.09391163e+02,  2.57380051e+02,  4.81475965e+02,
        5.74456293e+02,  1.78239506e+02,  3.35415354e+02,  6.02582390e+02,
        3.06583613e+02,  5.19769506e+02,  1.31366255e+02,  4.80334528e+02,
        7.49819002e+02,  6.88974470e+02,  1.66597675e+03,  4.52795364e+02,
        8.11415602e+02,  9.53342586e+02,  3.05679192e+02,  2.32441823e+02,
        1.27292866e+03,  7.75874749e+02,  6.99293333e+02,  2.97481194e+02,
        6.85312986e+02,  7.08170083e+02,  6.18408382e+02,  1.24752106e+03,
        9.32790571e+02,  1.52315630e+03,  5.91649888e+02,  3.29455788e+02,
        8.49176905e+02,  3.02196148e+02,  3.32620435e+02,  1.70731842e+02,
        2.94920738e+02,  6.21959435e+02, -2.32623274e+01,  4.51463430e+02,
        6.46225560e+02,  6.71525155e+01,  3.71394442e+02,  6.52552069e+02,
        4.43388444e+02,  6.14018302e+02,  3.44786058e+02,  1.53024777e+03,
        2.88364499e+02,  2.77561402e+02,  4.21155322e+02,  4.15676456e+02,
        2.43304289e+02,  3.72153430e+02,  1.96556708e+02,  6.86099740e+02,
        3.32900430e+02,  3.31032210e+02,  9.85745043e+02,  4.54052366e+02,
        1.26653590e+03,  1.74560641e+02,  9.66134558e+01,  3.97700580e+02,
        1.60572754e+03,  8.84301691e+02,  3.99159250e+01,  4.16908878e+02,
        7.52147893e+02,  1.67257441e+03,  9.96936213e+02,  6.99671245e+02,
        6.95899945e+02,  6.46147455e+02,  3.12674261e+02,  7.34436125e+02,
        3.90384405e+02,  3.67726977e+02,  1.16751971e+02,  1.18573096e+02,
        4.20525101e+02,  5.14015164e+02,  8.76784785e+02,  6.99426515e+02,
        5.15408893e+02,  1.23008564e+03,  3.55306473e+02,  1.74490420e+02,
        1.54226799e+03,  2.22838888e+02,  5.26561814e+02,  1.13977131e+03,
        1.01626449e+03,  4.97164298e+02,  9.83080358e+02,  3.40735546e+02,
        1.21460141e+03,  6.82426475e+02,  6.03914215e+02,  1.33827699e+01,
        2.69362010e+02,  7.35897501e+02,  1.80953682e+02,  9.37101848e+02,
        9.94608554e+02,  2.99179271e+02,  1.68153927e+03,  3.37716581e+02,
        6.82224055e+02,  1.18558817e+02,  3.08561424e+02,  1.37933812e+03,
        1.28914250e+03,  3.33496086e+02,  4.84405981e+02,  3.05384970e+02,
        1.23287142e+02,  7.85466961e+02,  4.83676946e+00,  3.66646954e+02,
        2.65221105e+02,  1.47811145e+02, -1.96556114e+01,  2.73221762e+02,
        1.65853754e+03,  5.42460477e+02,  7.60471721e+02,  8.10858425e+02,
        2.94564665e+02,  4.35641627e+02,  7.62870361e+02,  2.44926746e+02,
        9.64775253e+02,  1.77014293e+02,  1.98374303e+02,  2.74567238e+02,
        9.16216806e+02, -1.24719103e+00,  9.72147908e+02,  6.88665436e+02,
        3.20537095e+02,  3.16477532e+02,  1.00374639e+03, -1.96556114e+01,
        5.28458506e+02,  6.47136760e+02,  1.21092045e+02,  9.34559779e+01,
        8.34800672e+02,  5.82337162e+02,  6.75522761e+02,  7.97307516e+02,
        8.88952546e+01,  1.46387343e+02,  1.12839004e+03,  7.59343202e+02,
        4.09783614e+02,  6.03118311e+02,  3.36421977e+02,  4.83909308e+02,
        7.84820410e+02,  1.06212189e+02, -1.00124602e+01,  1.46406326e+02,
        4.21547208e+02,  2.02539407e+02,  8.22583000e+02,  6.06911291e+02,
        1.04474291e+03,  3.13473356e+02,  5.42640429e+02,  1.16812761e+03,
        3.31850287e+02,  4.55941922e+02,  4.48617392e+02,  6.75036957e+01,
        1.41324791e+03,  9.61542114e+02,  5.85300916e+02,  9.92418615e+01,
        1.16219458e+02,  5.31422308e+02,  7.55534317e+02,  5.83525286e+02,
        1.00132433e+03,  1.37973313e+03,  4.88120221e+02,  8.15614011e+02,
        3.52868468e+02,  7.58865867e+02,  1.13970766e+02,  7.82871061e+02,
        7.07512409e+02,  1.10503480e+03,  1.37138703e+03,  1.06164124e+02,
        3.51461502e+02,  2.76474737e+02,  3.65372065e+02,  3.13778482e+02,
        7.16716808e+02,  1.67740060e+03,  4.59098054e+02,  1.20082676e+02,
        6.12129545e+02,  1.77341745e+02,  5.37655400e+02,  3.05721903e+02,
        7.60982623e+01,  1.61118531e+03, -1.70288038e+01, -7.96707250e+00,
        3.51838582e+02,  6.99681454e+02,  1.66768606e+03,  6.31046661e+02,
        5.61560690e+02, -8.17588238e+00,  6.23310877e+02,  3.33419286e+02,
        5.79692919e+02,  9.36134294e+02,  2.48364021e+02,  7.89131788e+02,
        1.69596145e+03,  6.93677995e+02,  1.87915200e+02,  5.00843280e+02,
       -1.16861272e+01,  7.33389927e+02,  3.81883611e+02,  3.20266591e+02,
        6.97449118e+01,  2.20684788e+02,  1.22697134e+03,  5.92756380e+02,
        1.25886134e+03,  1.23298236e+03,  2.97863059e+02,  1.87973399e+02,
        6.57550277e+02,  7.25159781e+02,  5.30037842e+02,  1.37973313e+03,
        6.36676380e+02,  1.67786682e+03,  7.82461732e+02,  3.11771084e+02,
        2.81594821e+02,  4.19508507e+02,  7.59822709e+01,  8.14710007e+02,
        9.39398860e+02,  8.16804230e+02,  1.36900388e+02,  9.97981923e+02,
        6.26593289e+02,  9.02411999e+02,  8.75420732e+02,  1.16219458e+02,
        3.49840845e+02,  9.97462040e+02,  1.97947145e+02,  1.46452080e+02,
        6.95993540e+01,  6.90969136e+02,  5.81239141e+02,  5.43472026e+02,
        6.04862497e+02,  1.15553090e+03,  1.42700855e+03,  4.03191341e+02,
        8.05034573e+02,  4.68963947e+02,  7.11920265e+02,  4.46224161e+02,
        6.49497832e+02,  3.22557450e+02,  2.33041144e+02,  2.56343819e+02,
        5.81465661e+02,  7.60982623e+01,  1.28258702e+03,  1.13819232e+03,
        5.31396827e+02,  1.41030729e+03,  7.47180715e+02,  6.01791405e+02,
        2.99452520e+02,  2.28608900e+02,  1.20016582e+02,  8.05744707e+02,
        7.40017041e+02,  1.57832432e+02,  5.53728355e+01,  4.98577145e+02,
        7.08104316e+02,  1.38880996e+02,  6.96696136e+02,  2.99270831e+02,
        3.12701966e+02,  1.08312938e+02,  1.39511296e+03,  1.21080316e+03,
        1.63013149e+02,  2.98475251e+02,  2.43998763e+02, -7.63962065e+00,
        7.27694748e+02,  1.67750827e+03,  1.16219458e+02, -7.63962065e+00,
        8.17497500e+02,  6.05456951e+02,  1.74268953e+02,  3.59955529e+02,
        2.98666292e+02,  3.20537095e+02,  9.69402830e+02,  4.42966665e+02,
        4.48225282e+02,  5.85233881e+02,  6.08652568e+02, -2.60622781e+01,
        1.76686841e+02,  2.64915855e+02,  1.22918695e+03,  1.60264069e+02,
        5.91602432e+02,  5.81579558e+02,  1.10544386e+02,  1.58853105e+02,
        3.27870242e+02,  1.00070747e+03,  7.32100136e+02,  1.76805483e+02,
        4.95519335e+01,  4.70833925e+02,  7.41929458e+02,  1.28231488e+02,
        3.56519034e+02,  1.47018518e+02,  5.75652205e+02,  2.07307721e+02,
        6.57458333e+02,  4.62832151e+02,  5.40172658e+02,  7.12193342e+02,
        5.59019417e+02,  2.79292775e+02,  8.41602801e+02,  1.02788103e+03,
        4.68893066e+01,  3.90022641e+02,  1.70584726e+02,  6.74799673e+01,
        3.93154162e+02, -1.74488707e+01,  4.63979157e+02,  5.11259789e+02,
        6.28293258e+02,  1.11658642e+02,  7.01213052e+02,  1.27372445e+03,
        7.00621364e+02, -1.70288038e+01,  6.03983629e+02,  5.66524111e+02,
        1.91322487e+02,  1.40829689e+03,  1.76891734e+02,  4.84696876e+02,
        5.48316472e+02,  1.27176983e+03,  2.51487934e+02,  1.91137095e+02,
        6.30894144e+02,  5.96790415e+02,  7.61820446e+01,  7.60982623e+01,
        4.38922778e+02,  6.36955886e+02,  6.12851004e+02,  5.13573533e+01,
        3.59164792e+02,  1.76805483e+02,  4.88827838e+02,  7.01376444e+02,
        2.94920738e+02,  8.86855718e+02,  1.82144690e+02,  2.08200538e+02,
        5.85051948e+02,  3.24083655e+02,  1.66628541e+03,  4.34272188e+02,
        7.47418670e+02,  2.87166344e+02,  1.08312938e+02,  1.16219458e+02,
        7.89501761e+02,  1.23259769e+03,  8.09514718e+02,  4.60438094e+02,
        3.96969272e+02,  1.08521748e+02,  1.38610492e+02,  5.20189709e+02,
        1.83734174e+02,  6.46420968e+02,  8.68647862e+02,  9.65995924e+02,
        3.90670823e+02,  9.94546887e+02,  5.35407575e+02,  4.92246921e+02,
        2.20179731e+02,  6.24945075e+02,  4.83213471e+02,  3.18439505e+02,
        7.59542486e+02,  4.37174681e+02,  4.61981419e+02, -8.17588238e+00,
        1.02644063e+03,  4.03213745e+02,  6.85150248e+02,  1.78674861e+02,
        7.99421909e+02,  2.99701846e+02,  7.82804470e+02,  2.63544221e+02,
        3.75196907e+02,  2.76225018e+02,  1.66818334e+03,  1.67958911e+03,
        4.80772099e+02,  1.17020620e+03,  9.62929727e+02,  5.91602432e+02,
        4.35597338e+02,  2.98977018e+02,  3.32919413e+02,  4.59810870e+02,
        7.01537280e+02,  8.88952546e+01,  4.89379475e+02,  2.35185824e+02,
        5.54864371e+02,  1.13007994e+03,  4.60369088e+02,  3.56223210e+02,
        3.31023373e+02,  4.98023622e+02,  1.05174912e+03, -2.07233892e+01,
        3.10369589e+02,  4.24738967e+02,  5.33176465e+02,  2.06657563e+02,
        1.16007391e+03,  2.95417631e+02,  7.02585642e+02,  7.42474276e+02,
        1.16219458e+02,  3.39914520e+02,  1.53810612e+02,  4.65716044e+02,
        6.99317013e+02, -2.07233892e+01,  1.60965953e+03,  1.62770384e+02,
        6.15460641e+02,  5.13136320e+02,  6.78923890e+02,  5.81636506e+02,
        4.73838020e+02,  3.94891952e+02,  1.53449318e+03,  1.02066689e+03,
        1.77341745e+02,  4.99947469e+01,  2.86663269e+02,  3.33531605e+02,
        4.58614562e+02,  6.82195884e+02,  7.72699491e+02,  8.55277846e+01,
        9.21732533e+02,  7.05862576e+02,  2.00566807e+02,  8.02150994e+02,
        6.86922488e+02,  1.18064848e+03,  4.43911594e+02,  7.18011926e+02,
        5.91645143e+02,  4.54931346e+02,  6.24837653e+02,  1.47811145e+02,
        1.47811145e+02,  3.24665836e+02,  5.27619822e+02,  6.27805693e+02,
        1.16590290e+03,  2.10336861e+02,  1.51219136e+03,  1.01566244e+03,
        7.58865867e+02,  3.19571921e+02,  4.54019245e+02,  1.72771656e+02,
        3.23275352e+02,  6.32670696e+02,  1.01959405e+03,  4.75874395e+02,
        2.21692173e+02,  1.12139553e+03,  7.90147331e+02,  1.46363615e+02,
        5.80489266e+02,  1.70553466e+03,  2.91421909e+02,  1.92804928e+02,
        7.73003290e+02, -7.63962065e+00,  1.54527615e+03,  3.86765573e+02,
        5.26996270e+02,  4.25550344e+02,  6.27279709e+02,  8.82677504e+02,
        3.33091449e+02,  3.52460371e+02,  4.15662849e+02,  1.36834258e+03,
        6.87804217e+02,  1.12395200e+02,  4.21721575e+02,  3.08827253e+02,
        4.33256176e+02,  8.47860071e+02,  2.87529288e+02,  7.41414932e+02,
        1.45153827e+02,  1.12484421e+03,  7.97922890e+02,  7.53862686e+01,
        6.31587104e+02,  4.37740965e+02,  1.67421318e+03, -2.44582386e+01,
        1.54222459e+02,  3.62489658e+02])

In [85]:
dict_dat = {"실제값":y_test, "예측값":pred, "오차":y_test - pred}
dat = pd.DataFrame(dict_dat )
dat

         실제값          예측값          오차
1301  1158.0   845.880638  312.119362
2788  1400.0  1098.809316  301.190684
2286   982.0   641.446509  340.553491
2668   854.0   813.166109   40.833891
1934   614.0   738.298306 -124.298306
...      ...          ...         ...
2754   568.0   437.740965  130.259035
1850  1044.0  1674.213177 -630.213177
581    172.0   -24.458239  196.458239
459    364.0   154.222459  209.777541
1074   328.0   362.489658  -34.489658

[738 rows x 3 columns]

In [86]:
dat['오차절대값'] = abs(dat['오차'])
dat['오차제곱'] = dat['오차'] ** (2)
dat

         실제값          예측값          오차       오차절대값           오차제곱
1301  1158.0   845.880638  312.119362  312.119362   97418.496424
2788  1400.0  1098.809316  301.190684  301.190684   90715.828387
2286   982.0   641.446509  340.553491  340.553491  115976.680070
2668   854.0   813.166109   40.833891   40.833891    1667.406637
1934   614.0   738.298306 -124.298306  124.298306   15450.068840
...      ...          ...         ...         ...            ...
2754   568.0   437.740965  130.259035  130.259035   16967.416072
1850  1044.0  1674.213177 -630.213177  630.213177  397168.647996
581    172.0   -24.458239  196.458239  196.458239   38595.839495
459    364.0   154.222459  209.777541  209.777541   44006.616689
1074   328.0   362.489658  -34.489658   34.489658    1189.536482

[738 rows x 5 columns]

In [87]:
### MAE
np.mean(dat['오차절대값'])

147.93946965453628

In [88]:
### MSE
mse_value = sum(dat['오차'] ** 2) / len(dat['오차'])
mse_value

44316.90419339285

In [89]:
### RMSE
# (1) 제곱에 루트를 씌워구하기  (2) 제곱한 값을 길이로 나누기
rmse = np.sqrt(mse_value)
# rmse = mse_value ** 0.5  # 다른 방법
print(rmse)

210.5158050916673

In [90]:
print("훈련 데이터 세트 점수 : {:.2f}".format(model.score(X_train, y_train)))
print("테스트 데이터 세트 점수 : {:.2f}".format(model.score(X_test, y_test)))

훈련 데이터 세트 점수 : 0.78
테스트 데이터 세트 점수 : 0.78

In [93]:
X_test, y_test

(      총세대수   전용면적  전용면적별세대수   공가수  단지내주차면수  자격유형
 1301  1005  36.98        15  12.0    882.0     1
 2788   818  84.86       395   0.0    995.0     1
 2286  1106  36.85        70  21.0    752.0     1
 2668   526  74.55       112   4.0    727.0     1
 1934   840  46.73        59  15.0    772.0     1
 ...    ...    ...       ...   ...      ...   ...
 2754   847  46.16        92  13.0    496.0     8
 1850  1668  39.91       420  17.0   1756.0     1
 581   1755  18.38         1  29.0    270.0     4
 459   1527  54.51         1   2.0    240.0     4
 1074   355  51.93        14  10.0    330.0     1

 [738 rows x 6 columns],
 1301    1158.0
 2788    1400.0
 2286     982.0
 2668     854.0
 1934     614.0
          ...
 2754     568.0
 1850    1044.0
 581      172.0
 459      364.0
 1074     328.0
 Name: 등록차량수, Length: 738, dtype: float64)

In [94]:
X_train, y_train

(      총세대수   전용면적  전용면적별세대수   공가수  단지내주차면수  자격유형
 303    809  49.69       149   1.0    264.0     1
 132    560  30.48       192   0.0    154.0     3
 1851  1668  39.91        11  17.0   1756.0     1
 1791  1035  51.86       108  21.0    911.0     1
 526   2428  15.00         1   1.0    756.0     4
 ...    ...    ...       ...   ...      ...   ...
 763   1144  59.64       240  16.0    950.0     1
 835    481  31.84         1   5.0     65.0     4
 1653   511  51.61        29   3.0    413.0     1
 2607   902  44.78        48  32.0    635.0    15
 2732   270  26.24        10  17.0    183.0    12

 [2214 rows x 6 columns],
 303      649.0
 132       63.0
 1851    1044.0
 1791     934.0
 526      359.0
          ...
 763      376.0
 835       62.0
 1653     585.0
 2607     416.0
 2732     133.0
 Name: 등록차량수, Length: 2214, dtype: float64)

In [102]:
# 7-3 주차 수요 예측 LASSO모델 적용해보기. MAE, MSE 구해보기
from sklearn.linear_model import Ridge

ridge_p = [10, 5, 1, 0.1, 0.01]

for i in ridge_p:
    ridge = Ridge(alpha=i).fit(X_train, y_train)
    
    print("alpha : {}".format(i))
    print("훈련 데이터 세트 점수 : {}".format(ridge.score(X_train, y_train)))
    print("테스트 데이터 세트 점수 : {}".format(ridge.score(X_test, y_test)))
    print("점수차: {}".format((ridge.score(X_train, y_train)-(ridge.score(X_test, y_test)))*1000))

alpha : 10
훈련 데이터 세트 점수 : 0.7815038731271918
테스트 데이터 세트 점수 : 0.7759431874083684
점수차: 5.560685718823399
alpha : 5
훈련 데이터 세트 점수 : 0.7815038732053372
테스트 데이터 세트 점수 : 0.7759431997736181
점수차: 5.560673431719065
alpha : 1
훈련 데이터 세트 점수 : 0.7815038732303552
테스트 데이터 세트 점수 : 0.7759432096546349
점수차: 5.5606635757202705
alpha : 0.1
훈련 데이터 세트 점수 : 0.7815038732313875
테스트 데이터 세트 점수 : 0.7759432118764926
점수차: 5.560661354894858
alpha : 0.01
훈련 데이터 세트 점수 : 0.7815038732313978
테스트 데이터 세트 점수 : 0.7759432120986506
점수차: 5.560661132747224