### 데이터 불러오기

In [1]:
import pandas as pd

train = pd.read_csv('../../../Data/Parking_Demand/train.csv')
test = pd.read_csv("../../../Data/Parking_Demand/test.csv")
sub = pd.read_csv("../../../Data/Parking_Demand/sample_submission.csv")
age = pd.read_csv("../../../Data/Parking_Demand/age_gender_info.csv")

train.shape, test.shape, sub.shape, age.shape

((2952, 15), (1022, 14), (150, 2), (16, 23))

### 데이터에 대해 탐색해보기

In [2]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2952 entries, 0 to 2951
Data columns (total 15 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   단지코드                          2952 non-null   object
 1   총세대수                          2952 non-null   int64
 2   임대건물구분                        2952 non-null   object
 3   지역                            2952 non-null   object
 4   공급유형                          2952 non-null   object
 5   전용면적                          2952 non-null   float64
 6   전용면적별세대수                      2952 non-null   int64
 7   공가수                           2952 non-null   float64
 8   자격유형                          2952 non-null   object
 9   임대보증금                         2383 non-null   object
 10  임대료                           2383 non-null   object
 11  도보 10분거리 내 지하철역 수(환승노선 수 반영)  2741 non-null   float64
 12  도보 10분거리 내 버스정류장 수            2948 non-null   float64
 13  단지내주차면수                       2952 non-null   float64
 14  등록차량수                         2952 non-null   float64
dtypes: float64(6), int64(2), object(7)
memory usage: 346.1+ KB

In [3]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1022 entries, 0 to 1021
Data columns (total 14 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   단지코드                          1022 non-null   object
 1   총세대수                          1022 non-null   int64
 2   임대건물구분                        1022 non-null   object
 3   지역                            1022 non-null   object
 4   공급유형                          1022 non-null   object
 5   전용면적                          1022 non-null   float64
 6   전용면적별세대수                      1022 non-null   int64
 7   공가수                           1022 non-null   float64
 8   자격유형                          1020 non-null   object
 9   임대보증금                         842 non-null    object
 10  임대료                           842 non-null    object
 11  도보 10분거리 내 지하철역 수(환승노선 수 반영)  980 non-null    float64
 12  도보 10분거리 내 버스정류장 수            1022 non-null   float64
 13  단지내주차면수                       1022 non-null   float64
dtypes: float64(5), int64(2), object(7)
memory usage: 111.9+ KB

### train 에는 '등록차량수' 컬럼이 있으나, test에는 없다.
### 따라서, 우리는 '등록차량수'를 예측해야한다??

In [6]:
sel = ['총세대수']
X_train = train[sel]
X_test = test[sel]

y_train = train['등록차량수']

In [7]:
from sklearn.linear_model import LinearRegression

model = LinearRegression()
model.fit(X_train, y_train)
pred = model.predict(X_test)
pred

array([524.31256846, 524.31256846, 524.31256846, ..., 424.88994317,
       424.88994317, 424.88994317])

In [12]:
len(pred)

1022

In [13]:
len(sub)

150

#### 예측한 값인 pred와 예측한 값을 기입해서 제출해야 할 sub 값의 길이가 다르다.
#### 따라서, '단지코드'의 unique()을 확인해준다. (unique(): 유일한 값 찾기)

In [14]:
len(test['단지코드'].unique())

150

In [8]:
import numpy as np

In [9]:
test['등록차량수'] = pred # test에는 '등록차량수'가 없으니까 pred 값을 넣어준다.

In [10]:
test['코드별차량수평균'] = test.groupby('단지코드')['등록차량수'].transform(np.mean)
test.head(10)

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수,등록차량수,코드별차량수평균
0,C1072,754,아파트,경기도,국민임대,39.79,116,14.0,H,22830000,189840,0.0,2.0,683.0,524.312568,524.312568
1,C1072,754,아파트,경기도,국민임대,46.81,30,14.0,A,36048000,249930,0.0,2.0,683.0,524.312568,524.312568
2,C1072,754,아파트,경기도,국민임대,46.90,112,14.0,H,36048000,249930,0.0,2.0,683.0,524.312568,524.312568
3,C1072,754,아파트,경기도,국민임대,46.90,120,14.0,H,36048000,249930,0.0,2.0,683.0,524.312568,524.312568
4,C1072,754,아파트,경기도,국민임대,51.46,60,14.0,H,43497000,296780,0.0,2.0,683.0,524.312568,524.312568
5,C1072,754,아파트,경기도,국민임대,51.71,51,14.0,H,43497000,296780,0.0,2.0,683.0,524.312568,524.312568
6,C1072,754,아파트,경기도,국민임대,51.96,198,14.0,H,43497000,296780,0.0,2.0,683.0,524.312568,524.312568
7,C1072,754,아파트,경기도,국민임대,51.96,67,14.0,H,43497000,296780,0.0,2.0,683.0,524.312568,524.312568
8,C1128,1354,아파트,경기도,국민임대,39.79,368,9.0,H,22830000,189840,0.0,3.0,1216.0,684.671641,684.671641
9,C1128,1354,아파트,경기도,국민임대,39.79,30,9.0,H,22830000,189840,0.0,3.0,1216.0,684.671641,684.671641

In [11]:
### 중복되는 '단지코드' 행을 제거
test_new = test.drop_duplicates(['단지코드'], keep='first').reset_index()
test_new

,index,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수,등록차량수,코드별차량수평균
0,0,C1072,754,아파트,경기도,국민임대,39.79,116,14.0,H,22830000,189840,0.0,2.0,683.0,524.312568,524.312568
1,8,C1128,1354,아파트,경기도,국민임대,39.79,368,9.0,H,22830000,189840,0.0,3.0,1216.0,684.671641,684.671641
2,17,C1456,619,아파트,부산광역시,국민임대,33.40,82,18.0,A,19706000,156200,0.0,16.0,547.0,488.231777,488.231777
3,26,C1840,593,아파트,전라북도,국민임대,39.57,253,7.0,A,14418000,108130,0.0,3.0,543.0,481.282884,481.282884
4,30,C1332,1297,아파트,경기도,국민임대,39.99,282,11.0,H,28598000,203050,0.0,2.0,1112.0,669.437530,669.437530
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,996,C2456,349,아파트,제주특별자치도,국민임대,26.44,24,17.0,H,6992000,117000,0.0,4.0,270.0,416.070194,416.070194
146,1000,C1266,596,아파트,충청북도,국민임대,26.94,164,35.0,H,8084000,149910,0.0,1.0,593.0,482.084679,482.084679
147,1005,C2152,120,아파트,강원도,영구임대,24.83,66,9.0,C,-,-,0.0,1.0,40.0,354.866481,354.866481
148,1007,C1267,675,아파트,경상남도,국민임대,24.87,28,38.0,H,6882000,104370,0.0,1.0,467.0,503.198624,503.198624
149,1018,C2189,382,아파트,전라북도,국민임대,29.19,96,45.0,H,6872000,106400,0.0,2.0,300.0,424.889943,424.889943

In [15]:
sub.columns

Index(['code', 'num'], dtype='object')

In [16]:
### 제출을 위한 데이터 컬럼만 선택 후 확인
sub_df = test_new[['단지코드', '코드별차량수평균']]
sub_df.columns=['code','num'] # sub파일의 컬럼이 'code', 'num'이기 때문에
sub_df.to_csv('baseline_0716.csv', index=False)
sub_df.head()

    code         num
0  C1072  524.312568
1  C1128  684.671641
2  C1456  488.231777
3  C1840  481.282884
4  C1332  669.437530

In [17]:
import os # 현재 폴더 및 현재 폴더의 파일 확인

os.listdir(os.getcwd())

['.ipynb_checkpoints',
 '01_first_model_0712.ipynb',
 '02_second_model_0712.ipynb',
 '03_third_model_0712.ipynb',
 '0714_after_school_parking.ipynb',
 '0714_practice_ML_LinearRegression.ipynb',
 '0716_parking_demand_first_model.ipynb',
 'baseline_0712.csv',
 'baseline_0716.csv',
 'practice_model_0714.ipynb',
 'README.md',
 'second_rf_0712.csv',
 'third_0712.csv']

In [18]:
sub_df.shape

(150, 2)

### 결측치 처리

In [19]:
train.isnull().sum()

단지코드                              0
총세대수                              0
임대건물구분                            0
지역                                0
공급유형                              0
전용면적                              0
전용면적별세대수                          0
공가수                               0
자격유형                              0
임대보증금                           569
임대료                             569
도보 10분거리 내 지하철역 수(환승노선 수 반영)    211
도보 10분거리 내 버스정류장 수                4
단지내주차면수                           0
등록차량수                             0
dtype: int64

In [20]:
test.isna().sum()

단지코드                              0
총세대수                              0
임대건물구분                            0
지역                                0
공급유형                              0
전용면적                              0
전용면적별세대수                          0
공가수                               0
자격유형                              2
임대보증금                           180
임대료                             180
도보 10분거리 내 지하철역 수(환승노선 수 반영)     42
도보 10분거리 내 버스정류장 수                0
단지내주차면수                           0
등록차량수                             0
코드별차량수평균                          0
dtype: int64

### 결측치의 수가 가장 적은 test의 '자격유형' 결측치를 처리해주자.

In [21]:
test.loc[test['자격유형'].isnull()]  # 자격유형의 결측치가 어디에 있는지 확인

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수,등록차량수,코드별차량수평균
196,C2411,962,아파트,경상남도,국민임대,46.90,240,25.0,NaN,71950000,37470,0.0,2.0,840.0,579.903714,579.903714
258,C2253,1161,아파트,강원도,영구임대,26.37,745,0.0,NaN,2249000,44770,0.0,2.0,173.0,633.089473,633.089473

##### 196번과 258에 존재한다. 각각의 공통점을 갖고 있는 값들을 찾기 위해 그룹화시켜준다.

In [31]:
grouped = test.groupby(['단지코드', '임대건물구분', '지역', '공급유형'])
group1 = grouped.get_group(('C2411', '아파트', '경상남도', '국민임대'))
group1

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수,등록차량수,코드별차량수평균
193,C2411,962,아파트,경상남도,국민임대,39.43,56,25.0,A,11992000,100720,0.0,2.0,840.0,579.903714,579.903714
194,C2411,962,아파트,경상남도,국민임대,39.72,336,25.0,A,11992000,100720,0.0,2.0,840.0,579.903714,579.903714
195,C2411,962,아파트,경상남도,국민임대,39.82,179,25.0,A,11992000,100720,0.0,2.0,840.0,579.903714,579.903714
196,C2411,962,아파트,경상남도,국민임대,46.90,240,25.0,A,71950000,37470,0.0,2.0,840.0,579.903714,579.903714
197,C2411,962,아파트,경상남도,국민임대,51.93,150,25.0,A,21586000,171480,0.0,2.0,840.0,579.903714,579.903714

In [32]:
test.loc[196, '자격유형'] = 'A' # 결측치 처리

In [33]:
group2 = grouped.get_group( ('C2253', '아파트', '강원도', '영구임대')  )
group2

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수,등록차량수,코드별차량수평균
258,C2253,1161,아파트,강원도,영구임대,26.37,745,0.0,NaN,2249000,44770,0.0,2.0,173.0,633.089473,633.089473
259,C2253,1161,아파트,강원도,영구임대,31.32,239,0.0,C,3731000,83020,0.0,2.0,173.0,633.089473,633.089473
260,C2253,1161,아파트,강원도,영구임대,31.32,149,0.0,C,3731000,83020,0.0,2.0,173.0,633.089473,633.089473

In [34]:
test.loc[258, '자격유형'] = 'C' # 결측치처리

In [35]:
test.loc [[196,258], : ] # 처리된 결측치 확인

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수,등록차량수,코드별차량수평균
196,C2411,962,아파트,경상남도,국민임대,46.90,240,25.0,A,71950000,37470,0.0,2.0,840.0,579.903714,579.903714
258,C2253,1161,아파트,강원도,영구임대,26.37,745,0.0,C,2249000,44770,0.0,2.0,173.0,633.089473,633.089473

In [36]:
test.isnull().sum()

단지코드                              0
총세대수                              0
임대건물구분                            0
지역                                0
공급유형                              0
전용면적                              0
전용면적별세대수                          0
공가수                               0
자격유형                              0
임대보증금                           180
임대료                             180
도보 10분거리 내 지하철역 수(환승노선 수 반영)     42
도보 10분거리 내 버스정류장 수                0
단지내주차면수                           0
등록차량수                             0
코드별차량수평균                          0
dtype: int64

### train의 '도보 10분거리 내 버스정류장 수' 결측치 처리

In [41]:
train.columns

Index(['단지코드', '총세대수', '임대건물구분', '지역', '공급유형', '전용면적', '전용면적별세대수', '공가수',
       '자격유형', '임대보증금', '임대료', '도보 10분거리 내 지하철역 수(환승노선 수 반영)',
       '도보 10분거리 내 버스정류장 수', '단지내주차면수', '등록차량수'],
      dtype='object')

In [42]:
train.loc[ train['도보 10분거리 내 버스정류장 수'].isnull(), :]

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수,등록차량수
2315,C1649,575,아파트,경상남도,공공임대(10년),74.97,80,15.0,A,46000000,456000,NaN,NaN,1066.0,855.0
2316,C1649,575,아파트,경상남도,공공임대(10년),84.95,124,15.0,A,57000000,462000,NaN,NaN,1066.0,855.0
2317,C1649,575,아파트,경상남도,공공임대(10년),84.96,289,15.0,A,57000000,462000,NaN,NaN,1066.0,855.0
2318,C1649,575,아파트,경상남도,공공임대(10년),84.98,82,15.0,A,57000000,462000,NaN,NaN,1066.0,855.0

In [43]:
grouped = train.groupby(['임대건물구분', '지역','공급유형', '자격유형'])
group1 = grouped.get_group( ('아파트', '경상남도', '공공임대(10년)','A')  )
group1

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수,등록차량수
2172,C1788,376,아파트,경상남도,공공임대(10년),51.59,116,28.0,A,29000000,340000,0.0,3.0,380.0,412.0
2173,C1788,376,아파트,경상남도,공공임대(10년),59.97,260,28.0,A,36000000,390000,0.0,3.0,380.0,412.0
2222,C2405,600,아파트,경상남도,공공임대(10년),75.84,48,22.0,A,36019000,603480,0.0,8.0,728.0,1240.0
2223,C2405,600,아파트,경상남도,공공임대(10년),75.99,54,22.0,A,36113000,603480,0.0,8.0,728.0,1240.0
2224,C2405,600,아파트,경상남도,공공임대(10년),84.95,182,22.0,A,44868000,636400,0.0,8.0,728.0,1240.0
2315,C1649,575,아파트,경상남도,공공임대(10년),74.97,80,15.0,A,46000000,456000,NaN,NaN,1066.0,855.0
2316,C1649,575,아파트,경상남도,공공임대(10년),84.95,124,15.0,A,57000000,462000,NaN,NaN,1066.0,855.0
2317,C1649,575,아파트,경상남도,공공임대(10년),84.96,289,15.0,A,57000000,462000,NaN,NaN,1066.0,855.0
2318,C1649,575,아파트,경상남도,공공임대(10년),84.98,82,15.0,A,57000000,462000,NaN,NaN,1066.0,855.0
2543,C1941,404,아파트,경상남도,공공임대(10년),84.94,64,19.0,A,47288000,627080,0.0,3.0,490.0,600.0
2544,C1941,404,아파트,경상남도,공공임대(10년),84.94,72,19.0,A,47288000,627080,0.0,3.0,490.0,600.0
2545,C1941,404,아파트,경상남도,공공임대(10년),84.96,16,19.0,A,47288000,627080,0.0,3.0,490.0,600.0
2546,C1941,404,아파트,경상남도,공공임대(10년),84.99,252,19.0,A,47288000,627080,0.0,3.0,490.0,600.0
2639,C1284,528,아파트,경상남도,공공임대(10년),59.72,59,0.0,A,32896000,185040,0.0,5.0,543.0,780.0
2640,C1284,528,아파트,경상남도,공공임대(10년),59.92,469,0.0,A,32896000,185040,0.0,5.0,543.0,780.0
2641,C2595,867,아파트,경상남도,공공임대(10년),59.95,137,2.0,A,38000000,430000,0.0,5.0,897.0,1359.0
2642,C2595,867,아파트,경상남도,공공임대(10년),59.96,557,2.0,A,38000000,430000,0.0,5.0,897.0,1359.0
2643,C2595,867,아파트,경상남도,공공임대(10년),74.93,105,2.0,A,44000000,550000,0.0,5.0,897.0,1359.0
2644,C2595,867,아파트,경상남도,공공임대(10년),84.90,60,2.0,A,54000000,620000,0.0,5.0,897.0,1359.0
2645,C2595,867,아파트,경상남도,공공임대(10년),84.98,8,2.0,A,54000000,620000,0.0,5.0,897.0,1359.0

In [45]:
# 데이터 확인 후, 임의 처리 4
train.loc[ train['도보 10분거리 내 버스정류장 수'].isnull(), "도보 10분거리 내 버스정류장 수"] = 5
train.loc[ train['도보 10분거리 내 버스정류장 수'].isnull(), :]

Empty DataFrame
Columns: [단지코드, 총세대수, 임대건물구분, 지역, 공급유형, 전용면적, 전용면적별세대수, 공가수, 자격유형, 임대보증금, 임대료, 도보 10분거리 내 지하철역 수(환승노선 수 반영), 도보 10분거리 내 버스정류장 수, 단지내주차면수, 등록차량수]
Index: []

In [46]:
train.isna().sum()

단지코드                              0
총세대수                              0
임대건물구분                            0
지역                                0
공급유형                              0
전용면적                              0
전용면적별세대수                          0
공가수                               0
자격유형                              0
임대보증금                           569
임대료                             569
도보 10분거리 내 지하철역 수(환승노선 수 반영)    211
도보 10분거리 내 버스정류장 수                0
단지내주차면수                           0
등록차량수                             0
dtype: int64

In [47]:
test.isna().sum()

단지코드                              0
총세대수                              0
임대건물구분                            0
지역                                0
공급유형                              0
전용면적                              0
전용면적별세대수                          0
공가수                               0
자격유형                              0
임대보증금                           180
임대료                             180
도보 10분거리 내 지하철역 수(환승노선 수 반영)     42
도보 10분거리 내 버스정류장 수                0
단지내주차면수                           0
등록차량수                             0
코드별차량수평균                          0
dtype: int64

### '자격유형' mapping : 라벨인코딩 1

In [48]:
print(train.자격유형.unique())
print(test.자격유형.unique())

['A' 'B' 'C' 'D' 'E' 'F' 'G' 'H' 'I' 'J' 'K' 'L' 'M' 'N' 'O']
['H' 'A' 'E' 'C' 'D' 'G' 'I' 'J' 'K' 'L' 'M' 'N']

In [49]:
mapping = { 'A':1, 'B':2, 'C':3, 'D':4, 'E':5, 
            'F':6, 'G':7, 'H':8, 'I':9, 'J':10, 
            'K':11, 'L':12, 'M':13, 'N':14, 'O':15  }

train['자격유형'] =train['자격유형'].map(mapping).astype(int)
test['자격유형'] =test['자격유형'].map(mapping).astype(int)

train.head(3)

,단지코드,총세대수,임대건물구분,지역,공급유형,전용면적,전용면적별세대수,공가수,자격유형,임대보증금,임대료,도보 10분거리 내 지하철역 수(환승노선 수 반영),도보 10분거리 내 버스정류장 수,단지내주차면수,등록차량수
0,C2483,900,아파트,경상북도,국민임대,39.72,134,38.0,1,15667000,103680,0.0,3.0,1425.0,1015.0
1,C2483,900,아파트,경상북도,국민임대,39.72,15,38.0,1,15667000,103680,0.0,3.0,1425.0,1015.0
2,C2483,900,아파트,경상북도,국민임대,51.93,385,38.0,1,27304000,184330,0.0,3.0,1425.0,1015.0

In [50]:
from sklearn.linear_model import LinearRegression
import numpy as np
from sklearn.model_selection import train_test_split

In [51]:
sel = ['총세대수', '전용면적', '전용면적별세대수', 
       '공가수',  '단지내주차면수', '자격유형']

X = train[sel]
y = train['등록차량수']

# 데이터 나누기
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, 
                                                   random_state=0)

In [52]:
model = LinearRegression()
model.fit(X_train, y_train)
pred = model.predict(X_test)

In [56]:
print("학습(score) :", model.score(X_train, y_train) ) # 결정계수
print("테스트(score) :", model.score(X_test, y_test) ) # 결정계수

# mae
print('MAE : {:.3f}'.format(np.mean( np.abs(y_test - pred)  )))

# mse
mse_val = np.mean( (y_test - pred)**2  )
print('MSE : {:.3f}'.format(mse_val))

# rmse
print('RMSE : {:.3f}'.format(np.sqrt(  mse_val )))

학습(score) : 0.7843855411429264
테스트(score) : 0.7705350640308232
MAE : 149.388
MSE : 45350.213
RMSE : 212.956